.card {
  position: relative;
  width: 30%;
  padding: 2rem;
  background-color: #F9FAFB;
  border-radius: .5rem;
}

.card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
}

.cardImage {
  position: absolute;
  top: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: 500;
}

.cardText {
  font-size: 1rem;
  font-weight: 400;
}